**/.DS_Store
**/node_modules/
*.sql
.vscode*
.dockerignore
.env*
.git*
.idea
.nvmrc
.editorconfig
migrate-*
.strapi-updater.json
.gitignore
.eslint*
Dockerfile
CHANGELOG.md
LICENSE.md
README.md
docker-compose*

